# Nvidia
nvidia-settings --load-config-only &

# Network Applet
nm-applet &

# Japanese Input
fcitx &
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export DefaultIMModule=fcitx

# Restore Wallpaper
nitrogen --restore &

# Compton
picom -bc &

# Mount Disk Notification
udiskie -ans &
